body {
    padding-top: 1vh;
}

.well {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 800px;
}

.form-group {
    margin-bottom: 0;
}

.form-horizontal .form-group > h3 {
    text-align: center;
}

.form-horizontal .qa-form {
    max-width: 600px;
    margin: auto auto;
}

.form-horizontal .btn {
    width: 150px;
}

.form-control[readonly] {
    background-color: #fff;
}

textarea {
    resize: none;
}

#story {
    height: 30vh;
}
