<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bAbI Tasks solved using just 4 RNNs!</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
</head>

<body>
<h2 class="text-center app-header">bAbI Tasks solved using just 4 RNNs!</h2>
<br>
<div class="container">
    <div class="shadow">
        <form class="qa-form">
            <div class="form-group">
                <h4><label for="story">Story</label></h4>
                <textarea class="form-control" id="story" rows="10"></textarea>
            </div>
            <div class="form-group">
                <h4>
                    <label for="question">Question</label>
                    <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                       data-placement="top" title="Use suggested question or type your own question"></i>
                </h4>
                <input class="form-control" id="question" autofocus
                       autocomplete="off" spellcheck="false">
            </div>
            <div class="form-group">
                <h4><label for="answer">Answer</label></h4>
                <textarea class="form-control" id="answer" rows="5" readonly></textarea>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary" id="get_answer" type="submit">Predict answer</button>
                <button class="btn btn-warning" id="get_story" type="submit">Get new story</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
